#EventFieldName, d1 {
    width: 100px;
    height: 25px;
    padding-right: 5px;
    padding-left: 1px;
    padding-bottom: 24px;
    border: 0px solid black;
    margin-right: 0px;
    margin-bottom: 0px;
}

#EventsearchName {
    width: 220px;
    height: 30px;
    margin-right: 0px;
    padding-left: 5px;
}

.tbl_memberList {
    width: 100%;
}

#UserpageHeading {
    padding-left: 1px;
}

#action {
    width: 10px;
}

#tblData {
    padding-left: 8px;
}

#UsertableCell {
    color: black;
    width: 230px;
    padding-left: 8px;
    background-color: #FFF5EE;
}

#UsertableCell1 {
    color: black;
    padding-left: 8px;
    background-color: #FFF5EE;
}
