#FieldName, d1 {
    width: 140px;
    height: 25px;
    padding-right: 5px;
    padding-left: 1px;
    padding-bottom: 24px;
    border: 0px solid black;
    margin-right: 0px;
    margin-bottom: 0px;
}

#searchName {
    width: 350px;
    height: 30px;
    margin-right: 0px;
    padding-left: 5px;
}

#search {
    width: 40px;
    height: 30px;
}

#cancel {
    width: 40px;
    height: 30px;
    border: 1px;
}

.tbl_banner {
    width: 100%;
    padding: 0px;
}

#pageHeading {
    padding-left: 1px;
    margin-bottom: 0px;
}


#banner_tblData {
    padding-left: 8px;
}

#banner_tableCell {
    width: 230px;
    padding-left: 8px;
}

#bannerName {
    color: black;
}

#bannerName {
    width: 25%;
    color: black;
}

#action {
    color: darkblue;
    width: 15%;
    padding-left: 8px;
}
